.App {
  text-align: center;
}

/* for input form */
.input {
  display: flex;
  white-space:nowrap
}
.formBox {
  margin-left: 2rem; 
  margin-right: 4rem; 
}
.dropdown-menu{
  width: 100%;
  text-align: center;
}
form {
  margin-top: 10vh;
}
.button {
  padding-right: 4.5rem!important;
}

.button, .btn {
  margin-right: 0rem;
  text-align: right;

}
.blackBackground { /* for find rates button */
  background-color:#143f3d!important;
  border-color: #143f3d!important;
}
/* alerts */
.alert {
  width: 80%!important;
  margin: auto;
  margin-top: 5vh;
}
.error {
  border:1px solid #ff0000!important;
  border-radius: .25rem;
}
/* for table */
.table {
  border: 1px solid rgb(201, 201, 201);
  width: 70%!important;
  margin: auto;
  margin-top: 8vh;
}
thead tr th {
  color: rgb(168, 168, 168);
}
tbody tr td {
  color: #143f3d;
}



/* css for increased responsiveness on smaller screens */

@media (max-width: 768px) {
  #forMedScreen .justify-content-end.d-flex {
    justify-content: center!important;
  }
  .button {
    text-align: center;
    padding-right: 0rem!important;
  }
}



