.App {
  text-align: center;
}

/* for input form */
.input {
  display: flex;
  white-space:nowrap
}
.formBox {
  min-width: 18vw;
  margin-left: 2rem; 
  margin-right: 10rem; 
}
.dropdown-menu{
  width: 100%;
  text-align: center;
}
form {
  margin-top: 10vh;
}
.button {
  margin-right: 6vw;
}
.blackBackground { /* for find rates button */
  background-color:#143f3d!important;
  border-color: #143f3d!important;
}
/* alerts */
.alert {
  width: 80%!important;
  margin: auto;
  margin-top: 5vh;

}
.error {
  border:1px solid #ff0000!important;
  border-radius: .25rem;
}
/* for table */
.table {
  border: 1px solid rgb(201, 201, 201);
  width: 60%!important;
  margin: auto;
  margin-top: 8vh;
}
thead tr th {
  color: rgb(168, 168, 168);
}
tbody tr td {
  color: #143f3d;
}
.table td, .table th {
  padding-left: .35rem!important;
  padding-right: .35rem!important;

}
/* css for increased responsiveness */
@media only screen and (max-width: 1080px) {
  #forMedScreen .justify-content-end.d-flex.button {
    margin-right: 0rem;
  }
  .formBox {
    min-width: 24vw;

    margin-left: 1vw;
    margin-right:0rem;
  }
.form-inline label {
  display: block
}
.col-md {
  padding-right: 10vw!important;
}
}

@media only screen and (max-width: 800px) {
  #forMedScreen .justify-content-end.d-flex {
    justify-content: center!important;
  }
  #forMedScreen .justify-content-end.d-flex.button {
    margin-right: 0rem;
  }
  .form-row>.col {
    padding-left: 0px;
  }
  .col-md {
    padding-right: 0px!important;
  }
  .formBox {
    margin-left: .5vw;
    margin-right:0rem;
  }
}

@media only screen and (min-width: 1300px) {
  .formBox {
    min-width: 18vw;
    margin-left: 1vw;
    margin-right:14vw;
  }
  .btn {
    margin-right: 8vw;
  }
}
@media only screen and (max-width: 574px) {
  .formBox {
    margin-left: .5vw;
    min-width: 45vw;
  }
}